@import "tailwindcss";

:root {
	--background: #ffffff;
	--foreground: #171717;
	--input-background: #f0f0f0;
	--border: #e5e5e5;
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--color-input-background: var(--input-background);
	--color-border: var(--border);
	--font-mono: var(--font-geist-mono);
}

* {
	outline: none;
}

body {
	background: var(--background);
	color: var(--foreground);
	font-family: var(--font-mono);
	max-height: 100vh;
	overflow: hidden;
}

body:before {
	content: "";
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-size: 8px 8px;
	background-position: 0 0;
	background-repeat: repeat;
	background-image: radial-gradient(
		circle,
		rgba(65, 65, 65, 0.1) 0.2px,
		transparent 1px
	);
}
